---
layout: page
title: BTIC
subtitle: Business Text Industry Classification
permalink: /btic/
---
<!-- Slider -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ page.title }}</h1>
          <p>{{ page.subtitle }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Introduction of BTIC -->
<section id="btic" class="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>What is {{ page.title }}? </h2>
      <p>Manage your portfolio, conduct your market research, or enrich your sector analysis with our BTIC! We introduce a new industry classification system, Business Text Industry Clustering – BTIC – to replace the existing ones. BTIC applies text mining techniques on corporate disclosures in order to segment securities into groups with similar “business identities”.</p>
      <p>We exploit the business section of the form 10-Ks and cluster publicly traded equity securities in a hierarchical manner. Our automated process makes it fast to implement industry classification fit to your need, while its methodology allows for interpretability of the classification result in a rich context. With BTIC, you will now be able to show your clients the keywords on which your portfolio design is based; to choose a benchmark stock that is truly close to your portfolio in terms of their business identities; or, simply to explore why a stock has been placed in the corresponding group by looking at the list of similar words and stocks. BTIC does not only provide you with “which” groupings should be used in your portfolio management or research, but also “why” these groupings make sense.</p>
    </div>
  </div>
</div>
</section>


<!-- BTIC-S&P500 -->
<section id="btic-sp500" class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>BTIC-S&P500</h2>
        <br>
        <p>Check out our prototype results, prepared for the S&P500 firms (as of Jan. 01, 2016)!</p>
        <p>Contact ft@dm.snu.ac.kr for greater detail.</p>
      </div>
      <a href="/fintext.github.io/papers/AutomaticClassificationOfSecurities_YangLeeChoCho_2016_TechReport.pdf" class="btn btn-view-works">Download Paper</a>
    </div>
</section>
{% for post in site.categories.BTIC-SP500 %}
<div class="post-area">
  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  <p>
    {{ post.content | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endfor %}

<!-- BTIC-KOSPI -->
<section id="btic-kospi" class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>BTIC-KOSPI</h2>
        <p></p>
      </div>
      <a href="/fintext.github.io/papers/btic_paper.pdf" class="btn btn-view-works">Download Paper</a>
    </div>
</section>
{% for post in site.categories.BTIC-KOSPI %}
<div class="post-area">
  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  <p>
    {{ post.content | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endfor %}
